<launch>
    <arg name="task_name" default="mpc"/>

    <node pkg="rm_legged_balance_control_ros" type="legged_balance_dummy_node" name="legged_balance_dummy_node"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node pkg="rm_legged_balance_control_ros" type="legged_balance_ipm" name="legged_balance_ipm"
          output="screen" args="$(arg task_name)" launch-prefix=""/>

    <include file="$(find rm_legged_balance_control_ros)/launch/visualize.launch"/>

</launch>
