<?xml version="1.0" ?>

<launch>
    <arg name="task_name" default="mpc"/>

    <!-- make the files into global parameters -->
    <param name="taskFile" value="$(find rm_legged_balance_control)/config/$(arg task_name)/task.info"/>
    <param name="libFolder" value="$(find rm_legged_balance_control)/auto_generated"/>

    <rosparam file="$(find rm_legged_balance_control_ros)/config/controllers.yaml" command="load"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager"
          output="screen" args="load
          controllers/joint_state_controller
          controllers/robot_state_controller
          controllers/legged_balance_controller
"/>

</launch>
